<!DOCTYPE html>
<html>
  <head>
    <title>Ruby Text to Squares</title>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <div id="page" class="white_bg">
    <h1>Text to squares</h1>
    <p>Please input a string:</p>
    <form method='post'>
      <textarea name='input'></textarea>
      <input type='submit'>
    </form>
  </div>
  </body>
</html>
