<html>
  <head>
    <title>Text to Squares</title>  
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <div id="page">
      <!-- die klasse ist <%= rows.class %> --> 
      <ol class="box" style="width:<%= rows[0].length*50 %>px" >
        <% rows.each do |row| %>
          <li>
            <ol class="row">
              <% row.each do |square| %>
                <li class="square" style='background-color:#<%= square.color %>'></li>
              <% end %>
            </ol>
          </li> 
        <% end %>
      </ol>
      <div class="back_link"> 
        <a href="/">&larr; back to the form</a>
      </div>
    </div>
  </body>
</html>