body {
  background-color:#ececec;
  color: #777;
}
#page {
  max-width: 300px;
  margin: 12px auto;
  padding:0 30px 30px;
  z-index: 0;
}

ol {
  clear: both;
  list-style-type: none;
  padding: 0;
      }

.square {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 10px;
      }

.box {
  margin: 0 auto;
}

.back_link {
  clear: left;
  padding-top: 20px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #666;
}
