<div class="hero-unit">

  <h2>Welcome to the Application</h2>
  <h1> Text_To_Squares </h1>
  <br />
  <p>This is the project of weeks<br> of hard work by seven woman and<br> two patient coaches.</p>
  <br />
  <%= link_to "Start without Sign in", new_text_path, class:"btn btn-primary btn-large" %>
  <br />
  <br />
  <div class="btn btn-primary btn-large"><a href='/auth/twitter' style="color:#fff;text-decoration:none">Login Via Twitter</a></div>
  
 </div>
