<div class="hero-unit">

  <h2>Welcome to the Application</h2>
  <h1> Text_To_Squares </h1>
  <hr>
  <p>This is the project of weeks<br> of hard work by seven woman and<br> two patient coaches.</p>
  <hr>
  <p><%= link_to "Let's Start", new_text_path, class:"btn btn-primary btn-large" %></p>
  <p><a href='/auth/twitter'> <img src="/sign-in-with-twitter-gray.png" alt="twitter button" > </a></p>


  

  

 </div>
