@import "bootstrap";

/* own css */

body {
  background-color: #ececec !important;
  padding: 30px 100px;
}

.container
{
  max-width: 300px;
  background-color: #fff;
  margin: 12px auto;
  padding:10px 30px 30px;
}

h1 {
  font-size: 16px !important;
  
}

ol {
        clear: both;
        list-style-type: none;
        padding: 0;
      }

.square {
        display: block;
        float: left;
        width: 50px;
        height: 50px;
      }

#notice {
  color: #333 !important;
}